<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>

        <!-- Header -->
        <header>
            <h1>Impertodo</h1>
            <p>Impermeabilizacion profesional</p>
    
            <!--Barra de navegacion-->
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </header>
        <main>
            <h1>Productos</h1>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dignissimos in vitae tempore animi voluptatibus est quas, reprehenderit eligendi facere velit officiis. Magnam modi dicta officia, dolores a architecto praesentium.</div>
        </main>

    <footer>
        <h2>Impertodo<br>c/ Aldapeta nº9 20100 San Sebastian <br></h2>
        <div>
        <img src="../images/iconos/iconofacebook.jpg" alt="facebook" width="40" height="40"/>
        
        <img src="../images/iconos/iconotwitter.jpg" alt="twitter" width="40" height="40"/>
    </div>
        <p><strong>Impertodo:</strong> Todos los derechos reservados</p>
        
    </footer>
</body>
</html>